<div class="header">
  <div class="home-icon">
    {{#link-to "index"}}
      <i class="material-icons">
        home
      </i>
    {{/link-to}}
  </div>
  <div class="title">
    Kantox Challenge
  </div>
</div>