@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

body {
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 0px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: white;
  background-color: #3c3c52;
}

.home-icon i {
  font-size: 2.5em;
  cursor: pointer;
}

.title {
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
}