<div class="shop">THIS IS THE SHOP ROUTE</div>

{{#each this.model as |item|}}
  <article class="listing">
    <div class="details">
      <h3>{{item.name}}</h3>
      <p>{{item.price}}</p>
    </div>
  </article>
{{/each}}